click
Flask
Flask-WTF
gunicorn
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
numpy
pandas
python-dateutil
pytz
scikit-learn==1.2.1
scipy
six
threadpoolctl
typing-extensions
Werkzeug
WTForms
zipp
